<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="index.html" class="logo">
        <h1 class="sitename">Cole<span>X</span>pert</h1>
      </a>
      <nav class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<main>
  <section id="hero" class="hero">
    <div class="container">
      <div class="hero-content">
        <div class="hero-text">
          <h2 class="sitename">Cole<span>X</span>pert</h2>
          <p>La plataforma de subastas en línea que conecta a compradores y vendedores. Pujar en tiempo real por productos exclusivos y bienes de colección nunca fue tan fácil. Participa en subastas seguras, con pagos directos y consigue lo que deseas al mejor precio. ¡Las mejores oportunidades te esperan!</p>
          <div class="hero-buttons">
            <a href="#about" class="btn btn-primary">Get Started</a>
            <a href="https://www.youtube.com/watch?v=YAgJ9XugGBo&t=59s" class="btn btn-secondary">Watch Video</a>
          </div>
        </div>
        <div class="hero-image">
          <img src="assets/imagenes/landing.png" alt="Home Image">
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="about">
    <div class="container">
      <div class="about-content">
        <div class="about-text">
          <p class="who-we-are">Quiénes Somos</p>
          <h3>El grupo 4 XD</h3>
          <p>En ColeXpert, estamos revolucionando la manera en que las personas compran y venden en línea. Nuestra plataforma ofrece un entorno seguro y dinámico para participar en subastas en tiempo real de productos únicos y bienes de colección. Empoderamos a nuestros usuarios para que tomen decisiones informadas con una experiencia de subasta fluida y pagos directos, creando oportunidades para que compradores y vendedores se conecten y prosperen.</p>
          <ul>
            <li>Subastas en tiempo real de una amplia gama de productos y bienes de colección.</li>
            <li>Plataforma segura con funciones fáciles de usar y opciones de pago directo.</li>
            <li>Conectando compradores y vendedores de todo el país para oportunidades incomparables.</li>
          </ul>
          

          <a href="#" class="read-more">Read More</a>
        </div>
        <div class="about-images">
          <!-- Add about images here -->
        </div>
      </div>
    </div>
  </section>
</main>